/**
 * Post grid styles
 * Loads on front end and back end
 */
@import "../common";

.entry-content {
	.ptam-block-post-grid-title {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 1.2;
		clear: none;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}

		a {
			color: #000;
			box-shadow: none;
			transition: 0.3s ease;
		}
	}
}
.ptam-block-post-grid {
	margin: 0 0 1.2em 0;
	position: relative;

	.is-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 0 2em;
		column-gap: 2em;
		line-height: 1.1;

		article {
			margin-bottom: 2.5em;
		}
	}

	.is-grid.columns-1 {
		grid-template-columns: 1fr;
	}

	.is-grid.columns-2 {
		grid-template-columns: 1fr 1fr;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.is-grid.columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	.is-grid.columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.is-grid.columns-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 1000px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.is-grid.columns-6 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 1000px) {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	div[class*="columns"].is-grid {
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.ptam-block-post-grid-image {
		margin: 10px 0;
		img {
			display: inline-block;
		}
	}
	.is-list .ptam-block-post-grid-image {
		margin-top: 0;
	}

	.ptam-block-post-grid-text {
		text-align: left;
	}

	.ptam-block-post-grid-image .avatar {
		height: auto;
		width: inherit;
		border-radius: 0;
	}

	.ptam-block-post-grid-title {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 28px;
		line-height: 1.2;
		clear: none;
		&:before {
			display: none;
		}
		&:after {
			display: none;
		}

		a {
			color: #000;
			box-shadow: none;
			transition: 0.3s ease;
		}
	}

	.ptam-block-post-grid-byline {
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 1px;
		color: $lightgray;
		margin-bottom: 15px;
	}

	.ptam-text-lower-case {
		text-transform: none;
	}

	.ptam-block-post-grid-author,
	.ptam-block-post-grid-date {
		display: inline-block;

		&:not(:last-child):after {
			content: "\B7";
			vertical-align: middle;
			margin: 0 5px;
			line-height: 1;
		}
	}

	.ptam-block-post-grid-author a {
		box-shadow: unset;

		&:hover {
			color: inherit;
			text-decoration: none;
			box-shadow: unset;
		}
	}

	.ptam-block-post-grid-text p {
		margin: 0 0 15px 0;
		line-height: 1.5;
		font-size: 18px;

		@media only screen and (max-width: 600px) {
			font-size: 16px;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.ptam-block-post-grid-link {
		display: inline-block;
		box-shadow: none;
		transition: 0.3s ease;
		font-weight: bold;
		color: #000;

		&:hover {
			box-shadow: 0 -2px 0 inset;
		}
	}

	.ptam-block-post-grid-excerpt div + p {
		margin-top: 15px;
	}

	.is-list {
		article {
			display: grid;
			grid-template-columns: 30% 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0 2em;
			&:not(:last-child) {
				margin-bottom: 5%;
				padding-bottom: 5%;
			}

			@media only screen and (min-width: 600px) {
				&:not(:last-child) {
					border-bottom: solid 1px #eee;
				}
			}

			@media only screen and (max-width: 600px) {
				grid-template-columns: 1fr;
			}
		}
		&.is-custom article {
			display: block;
			grid-template-columns: 100% 1fr;
			grid-template-rows: 1fr;
			grid-gap: 0 2em;
		}

		.ptam-block-post-grid-image {
			margin-bottom: 0;

			@media only screen and (max-width: 600px) {
				margin-bottom: 5%;
			}
		}
		h1.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 38px;
			}
			margin-top: 10px 0;
		}
		h2.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 34px;
			}
			margin-top: 10px 0;
		}
		h3.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 34px;
			}
			margin-top: 10px 0;
		}
		h4.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 28px;
			}
			margin-top: 10px 0;
		}
		h5.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 22px;
			}
			margin-top: 10px 0;
		}
		h6.ptam-block-post-grid-title {
			@media only screen and (min-width: 600px) {
				font-size: 18px;
			}
			margin-top: 10px 0;
		}

		.no-thumb .ptam-block-post-grid-text {
			grid-column: span 1;
		}
	}
}
button.ptam-media-alt-upload.components-button {
	margin-bottom: 20px;
}
button.ptam-media-alt-reset.components-button {
	margin: 15px 0;
}
/* Search Styles */
.ptam-term-select,
.ptam-term-exclude {
	.woocommerce-search-list__selected-header {
		button {
			display: block;
			margin: 1em 0;
		}
	}
	.woocommerce-search-list__selected {
		margin-bottom: 15px;
	}
	.woocommerce-tag.has-remove {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #fff;
		padding: 10px 20px;
		border: 1px solid #eee;
		color: #000;

		.woocommerce-tag__remove {
			display: block;
			align-self: flex-end;
		}
	}
}

/* Term Grid */
.ptam-term-grid-loading {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	h1 {
		width: 100%;
		text-align: center;
	}
}
.ptam-term-grid {
	/* Grid Fallback */
	position: relative;
	display: flex;
	flex-wrap: wrap;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(150px, auto);
	grid-gap: 1em;
	justify-items: center;

	&.columns-1 {
		grid-template-columns: 1fr;
	}

	&.columns-2 {
		grid-template-columns: 1fr 1fr;
		@media only screen and (max-width: 500px) {
			grid-template-columns: 1fr;
		}
	}

	&.columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
		@media only screen and (max-width: 500px) {
			grid-template-columns: 1fr;
		}
	}

	&.columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		@media only screen and (max-width: 800px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr 1fr;
		}
		@media only screen and (max-width: 500px) {
			grid-template-columns: 1fr;
		}
	}
	.ptam-term-grid-anchor-full {
		position: absolute;
		z-index: 3;
		display: block;
		width: 100%;
		height: 100%;
	}

	.ptam-term-grid-item {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		min-height: 300px;
		width: 100%;
		background: #24292d;
		color: #fff;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		text-align: center;
		padding: 20px;
		overflow: hidden;
		transition: background-color 0.5s ease;
		word-break: break-all;

		/* Flex Fallback */
		margin-left: 5px;
		margin-right: 5px;
		flex: 1 1 300px;

		.ptam-term-grid-item-content {
			position: relative;
			z-index: 2;
		}
		.ptam-term-grid-button {
			display: inline-block;
			background-color: #32373c;
			color: #fff;
			border: none;
			border-radius: 28px;
			font-weight: 500;
			box-shadow: none;
			cursor: pointer;
			display: inline-block;
			font-size: 18px;
			margin: 0;
			margin-top: 1em;
			padding: 12px 24px;
			text-align: center;
			text-decoration: none;
			overflow-wrap: break-word;
			transition: background-color 0.5s ease;
		}
		h2 {
			color: #ffffff;
			font-size: 2.2em;
		}
		.ptam-term-grid-item-description {
			font-size: 1.4em;
			line-height: 1.5em;
		}
	}
}

/* Featured Post Styles */
.ptam-fp-wrapper {
	.ptam-fp-term {
		margin-bottom: 20px;
		span {
			display: inline-block;
		}
	}
	.ptam-featured-post-item {
		padding-bottom: 1.3em;
		border-bottom: 1px solid #ddd;
		&:last-child {
			border-bottom: 0;
		}
	}
	.ptam-featured-post-meta {
		.entry-title {
			font-weight: 700;
			line-height: 1.4em;
			margin: 1em 0;
			a {
				color: #000000;
				text-decoration: none;
				&:hover {
					color: #000000;
					text-decoration: none;
				}
			}
		}
		.entry-meta {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 1em;
			font-size: 12px;
			.author-name {
				a {
					font-weight: 700;
					color: #6c6c6c;
					text-decoration: none;
					&:hover {
						color: #333;
						text-decoration: none;
					}
					&:before {
						font-family: "PTAM";
						content: "\e71e";
						display: inline-block;
						margin-right: 2px;
					}
				}
			}
			.post-date {
				color: #6c6c6c;
				&:before {
					font-family: "PTAM";
					content: "\e789";
					display: inline-block;
					margin-right: 2px;
				}
			}
			.post-comments {
				color: #000;
				&:before {
					font-family: "PTAM";
					content: "\e7d6";
					display: inline-block;
					margin-right: 2px;
				}
			}
		}
	}
	.ptam-featured-post-content {
		line-height: 1.2em;
		margin: 1em 0;
	}
	.ptam-featured-post-button {
		a {
			display: inline-block;
			padding: 10px 20px;
			text-decoration: none;
			:hover {
				text-decoration: none;
			}
		}
	}
	/* Uncomment to have a zoom effect on hover.
	.ptam-featured-post-image {
		overflow: hidden;
		img {
			transition: transform .8s;
			&:hover {
				transform: scale( 1.1 );
			}
		}
	}*/
}

.ptam-pagination,
body.has-blocks .fl-post-content .ptam-pagination {
	> ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;

		& > span,
		& > a {
			display: inline-block;
			padding: 5px 10px;
			margin: 0 4px 0 0;
			border: 1px solid #eee;
			line-height: 1;
			text-decoration: none;
			border-radius: 2px;
			font-weight: 600;
		}
		& > span:hover,
		& > a:hover {
			background: #f9f9f9;
		}
		& > span.current {
			background: #f9f9f9;
		}
	}
}
.ptam-apply {
	margin-top: 15px;
	margin-bottom: 20px;
}
.ptam-term-select .woocommerce-search-list__selected,
.ptam-term-exclude .woocommerce-search-list__selected {
	display: none;
}
.ptam-term-select .components-base-control__field,
.ptam-term-exclude .components-base-control__field {
	display: none;
}

/* Dimensions Component */
.components-ptam-dimensions-control__inputs,
.components-ptam-dimensions-control__input-labels {
	display: flex;
}

.components-ptam-dimensions-control input[type="number"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	height: 30px;
	margin: 0 -1px 0 0;
	padding: 5px;
	width: calc(25% - 5px);
}

.components-ptam-dimensions-control input[type="number"]:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.components-ptam-dimensions-control__input-labels > span {
	width: calc(25% - 5px);
	font-size: 11px;
}

.components-ptam-dimensions-control__input-labels > span:last-child {
	width: 30px;
}

.components-ptam-dimensions-control_sync.components-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: auto;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 0;
	text-align: center;
	text-shadow: none;
	width: 30px;
	height: 30px;
}

.components-ptam-dimensions-control_sync.components-button:not(.is-primary) {
	background: #fff;
	border: 1px solid #8d96a0;
	color: #555d66;
}

.components-ptam-dimensions-control_sync.components-button svg {
	width: 18px;
	height: 18px;
	fill: currentColor;
}

.components-ptam-dimensions-control_sync.components-button:hover,
.components-ptam-dimensions-control_sync.components-button:focus {
	box-shadow: none !important;
}

/* Unit Picker Component - Forked from @GenerateBlocks */
.components-ptam-units-control-header__units {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	align-items: center;
}

.components-ptam-control__units {
	.components-ptam-control-buttons__units {
		button.components-button {
			background: #fff;
			box-shadow: none !important;
			color: #929da7;
			font-size: 10px;
			padding: 0 5px;
			position: relative;
			text-align: center;
			text-shadow: none;
			border: 0;
			border-radius: 0 !important;
			line-height: 20px;
			padding: 0 5px;
			height: auto;

			&.is-primary {
				background: #fff !important;
				color: #000 !important;
				cursor: default;
				z-index: 1;
				font-weight: bold;
			}
		}
	}
}

/* Color Component (forked from @GenerateBlocks) */
.ptam-component-color-picker-wrapper {
	> .components-base-control__field {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.components-color-palette__item-wrapper {
			margin: 0;
		}
	}
}

.ptam-component-color-picker,
.ptam-component-gradient-picker {
	& > .components-base-control:first-child {
		margin-bottom: 0;
	}

	.components-color-picker__inputs-wrapper {
		min-width: auto;
	}

	.ptam-component-color-picker-palette {
		padding: 16px;
		margin-top: 10px;

		.components-circular-option-picker {
			display: flex;
			flex-wrap: wrap;

			.components-circular-option-picker__option-wrapper {
				margin: 0 8px 8px 0;
			}
		}
	}

	.components-base-control__field,
	.components-color-palette {
		margin: 0;
	}

	.components-color-picker {
		padding: 5px;
	}

	.components-color-picker__inputs-toggle {
		display: none;
	}

	.components-color-picker__body {
		padding-bottom: 0;
	}

	.components-popover__content {
		padding: 10px;
		width: 300px;
	}

	.components-color-picker__inputs-fields {
		margin-right: 0;
	}

	.components-color-clear-color {
		margin: 0 16px;
	}
}

.ptam-component-color-opacity {
	display: flex;
	padding: 0 16px;
	margin: 10px 0;

	svg {
		width: 22px;
		height: 22px;

		color: #585aa8;
	}

	.components-range-control {
		flex-grow: 1;
		padding-left: 5px;
	}
}

.ptam-color-picker-area {
	width: 28px;
	height: 28px;
}

/* Gradients Component (forked from @GenerateBlocks) */
.ptam-component-gradient-picker {
	.components-popover__content {
		width: 350px;
		padding: 15px;
	}
	.components-base-control__label {
		display: block;
		margin-bottom: 20px;
	}
}
.ptam-component-gradient-picker-wrapper
	button.components-color-palette__item.components-circular-option-picker__option {
	box-shadow: none;
	&:hover {
		box-shadow: none !important;
	}
}

/* Responsive Tabs Component (forked from @GenerateBlocks)*/
.ptam-responsive-tabs {
	position: sticky;
	top: 0;
	background: #fff;
	border-top: 1px solid #e2e4e7;
	border-bottom: 1px solid #e2e4e7;
	z-index: 10;
	display: flex;

	button {
		flex-grow: 1;
		justify-content: center;
		padding: 10px;
		height: unset;
		border-radius: unset;
		outline: 0 !important;

		&.is-pressed:not(:disabled),
		&:focus:not(:disabled),
		&:active:not(:disabled),
		&:hover:not(:disabled) {
			box-shadow: unset !important;
			background: #007cba !important;
			color: #fff !important;
		}
	}
}

.block-editor-block-inspector .ptam-responsive-tabs + .components-panel__body {
	border-top: 0;
}

/* Normal|Hover tabs - Forked from @GenerateBlocks */
.ptam-control-tabs .components-tab-panel__tabs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 15px;
	border-bottom: 1px solid #e8eaeb;
}

.ptam-control-tabs .components-tab-panel__tabs button {
	padding: 8px;
	height: auto;
	margin: 0;
	margin-bottom: -1px;
	cursor: pointer;
	border: none;
	border: 0;
	border-radius: 0;
	outline-offset: -1px;
	flex: 1;
	justify-content: center;
	font-size: 11px;
	font-weight: 400;

	&.active-tab {
		position: relative;
		z-index: 1;
		background: #585aa8 !important;
		color: #fff !important;
		box-shadow: 0 0 0 !important;
	}
}

/* Typography Component Controls */
.ptam-component-typography-picker-wrapper > div {
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ptam-typography-component-label {
	& ~ button {
		cursor: pointer;
		svg {
			width: 24px;
			height: 24px;
			color: darken(#585aa8, 15%);

			&:hover {
				color: #585aa8;
			}
		}
	}
}
.edit-post-settings-sidebar__panel-block
	.components-panel__body
	.components-base-control.ptam-font-family-shortcuts {
	margin-bottom: 2px;
}

.components-ptam-typography-control__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	align-items: center;
}

.components-ptam-typography-control__inputs
	+ .components-ptam-typography-control__header {
	margin-top: 25px;
}

.components-ptam-typography-control__inputs {
	display: flex;
	justify-content: space-between;

	button.components-button {
		line-height: unset;
		height: unset;
	}

	.components-base-control {
		margin-bottom: 0;
	}
}

.edit-post-settings-sidebar__panel-block
	.components-panel__body
	.components-ptam-typography-control__inputs
	.components-base-control,
.components-ptam-typography-control__inputs
	.components-base-control
	.components-base-control__field {
	margin-bottom: 0;
}

.components-ptam-typography-weight-transform {
	display: flex;
	justify-content: space-between;
}

.components-ptam-typography-weight-transform > div {
	width: 48%;
}

.components-ptam-typography-control__units
	> .components-button-group
	.components-button.is-button:first-child:last-child {
	border-radius: 3px;
}

.components-ptam-typography-control__inputs button {
	margin-left: 10px;
}

.components-ptam-typography-control__inputs .components-base-control {
	flex-grow: 1;
}

/* Alignment Group Component Styles */
.ptam-alignment-component-base {
	margin: 10px 0;
	transition: all ease-in-out 0.5s;
	.ptam-alignment-component-label {
		display: block;
		margin-bottom: 5px;
	}
}

/* Hierarchical Grid Items */
.ptam-hierarchical-grid-item,
.ptam-hierarchical-grid-item * {
	transition: all ease-in-out 0.5s;
}

.ptam-hierarchical-list-item-meta {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	float: none;

	.ptam-author,
	.ptam-date,
	.ptam-terms,
	.ptam-comments {
		&:before {
			font-family: "PTAM";
			display: inline-block;
			margin-right: 2px;
		}
		& > span {
			display: inline-block;
			margin-left: 5px;
		}
	}

	&.alignleft > div {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
	&.alignright > div {
		margin-left: 15px;

		&:first-child {
			margin-left: 0;
		}
	}
	&.stacked > div {
		margin-bottom: 5px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.ptam-author:before {
		content: "\e71e";
	}
	.ptam-date:before {
		content: "\e789";
	}
	.ptam-terms:before {
		content: "\e756";
	}
	.ptam-comments:before {
		content: "\e7d6";
	}
}
